POSTGRES_DB=peoplesTreasure
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-database-password

NEXTAUTH_URL=http://localhost
NEXT_PUBLIC_BASE_URL=http://localhost
NEXTAUTH_SECRET=replace-with-at-least-32-random-characters

GMAIL_USER=
GMAIL_PASS=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_ACCESS=
YANDEX_SECRET=
YANDEX_BUCKET=
YANDEX_ENDPOINT=https://storage.yandexcloud.net
YANDEX_REGION=ru-central1
YANDEX_PUBLIC_URL=

HTTP_PORT=80
